<style>
body{
font-family:Arial;
margin:0;
background:#f4f6f9;
}

header{
background:#4f46e5;
color:white;
padding:15px 40px;
display:flex;
justify-content:space-between;
align-items:center;
}

header h2{
margin:0;
}

button{
padding:10px 20px;
background:white;
color:#4f46e5;
border:none;
cursor:pointer;
border-radius:5px;
}

table{
width:95%;
margin:30px auto;
border-collapse:collapse;
background:white;
}

th{
background:#4f46e5;
color:white;
padding:12px;
}

td{
padding:10px;
border:1px solid #ddd;
}

tr:nth-child(even){
background:#f8f8f8;
}

tr:hover{
background:#eef3ff;
}

</style>